:root {
    --primary-color: 252, 252, 252;
    --secondary-color: 53, 50, 52;
    --accent-color: 129, 109, 216;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.3%;
}

body {
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(var(--primary-color));
}

.desktop-max {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1em;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}